html,
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.i-center {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.index-button {
    display: flex;
    align-items: center;
    width: 90%;
    flex-direction: column;
    justify-content: space-around;
}

.buttonIJ,
.buttonANP {
    width: 30%;
    min-width: 25%;
    padding: 1rem;
    margin: 1em 0;
    border-radius: 10px;
    cursor: pointer;
}

.buttonIJ {
    background: #2c3a47;
}

.buttonANP {
    background: #7a49ff;
}

.buttonIJ a,
.buttonANP a {
    color: #f1f1f1;
    font-size: 1em;
    font-weight: 800;
}

@media screen and (max-width: 768px) {

    .buttonIJ,
    .buttonANP {
        width: 80%;
        min-width: 50%;
    }
}